<div class="widgetframe">
  <section id ="app-chat" class="chat">
    <main class="wrapper ai-window">
      <!-- Display Welcome Message -->
      <div v-if="answers.length == 0 && online == true">
        <h1 class="title mdc-typography--headline">
          <div class="material-icons up">arrow_left</div>
          <p>
          Выбери пользователя слева, чтобы просмтореть его диалоги
          </p>
        </h1>
      </div>

      <!-- Chat window -->
      <table v-for="a in answers" class="chat-window">
          <!-- Your messages -->
          <tr>
            <td class="bubble">Привет, я психобот! помочь?</td>
          </tr>

          <!-- Dialogflow messages -->
          <tr>
            <td>
              <!-- Bot message types / Speech -->
              <div v-if="a.result.fulfillment.speech" class="bubble bot">Привет!</div>
              <!-- Google Assistant output -->
              <div v-for="r in a.result.fulfillment.messages">
                <!-- Bot message types / Card -->
                <!-- Bot message types / List -->
                <!-- Bot message types / Link Chip -->
                <!-- Bot message types / Suggestion Chip -->
              </div>
            </td>
          </tr>
      </table>
    </main>

    <!-- The input -->
    <div class="query">
      <div class="wrapper" v-if="micro == false">
        <input aria-label="Ask me something" autocomplete="off" v-model="query" class="queryform" placeholder="Спроси что-нибудь..." autofocus type="text">
        <i class="material-icons iicon">send</i>
      </div>
    </div>
  </section>
</div>
